Repository jakartaee/rest, pull requests merged in 2020-06, with the labels that each got.

#868 Add support for SameSite cookie attribute to NewCookie class
  jaxrs-api/src/main/java/jakarta/ws/rs/core/NewCookie.java
  jaxrs-api/src/test/java/jakarta/ws/rs/core/NewCookieTest.java
Labels: api, enhancement

#880 Fix for various spec document formatting issues
  jaxrs-spec/src/main/asciidoc/chapters/providers/_contextprovider.adoc
  jaxrs-spec/src/main/asciidoc/chapters/providers/_entity_providers.adoc
  jaxrs-spec/src/main/asciidoc/chapters/resources/_determine_response_type.adoc
  jaxrs-spec/src/main/asciidoc/chapters/resources/_mapping_requests_to_java_methods.adoc
Labels: bug

#885 Fix typo
  jaxrs-spec/src/main/asciidoc/chapters/context/_contexttypes.adoc
Labels: spec
