Repository jakartaee/rest, pull requests merged in 2020-08, with the labels that each got.

#891 [#890] All array types to be used as parameters
  jaxrs-api/src/main/java/jakarta/ws/rs/CookieParam.java
  jaxrs-api/src/main/java/jakarta/ws/rs/FormParam.java
  jaxrs-api/src/main/java/jakarta/ws/rs/HeaderParam.java
  jaxrs-api/src/main/java/jakarta/ws/rs/MatrixParam.java
  jaxrs-api/src/main/java/jakarta/ws/rs/QueryParam.java
  jaxrs-spec/src/main/asciidoc/chapters/appendix/_changes-since-3.0-release.adoc
  jaxrs-spec/src/main/asciidoc/chapters/resources/_resource_field.adoc
Labels: javadoc, spec

#892 Update release notes
  jaxrs-spec/src/main/asciidoc/chapters/appendix/_change-log.adoc
  jaxrs-spec/src/main/asciidoc/chapters/appendix/_changes-since-2.1-release.adoc
Labels: spec

#893 Updating dependencies to use final version of JAXB and Activation
  .travis.yml
  jaxrs-api/pom.xml
Labels: api

#899 Updated files for Release 3.0.0
  examples/pom.xml
  jaxrs-api/pom.xml
  jaxrs-spec/pom.xml
Labels: api, release

#901 Removed draft status
  jaxrs-spec/pom.xml
Labels: spec

#902 Use Jakarta in title and update version number in Javadocs
  jaxrs-api/pom.xml
Labels: javadoc
