Repository jakartaee/rest, pull requests merged in 2021-08, with the labels that each got.

#995 Clarify behavior when SseEvent source onEvent throws and exception
  jaxrs-api/src/main/java/jakarta/ws/rs/sse/SseEventSource.java
Labels: enhancement, api

#1006 Update UriBuilderIT test
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/uribuilder/UriBuilderIT.java
Labels: tck

#1008 Add Response.isClosed()
  jaxrs-api/src/main/java/jakarta/ws/rs/core/Response.java
Labels: api
