Repository jakartaee/rest, pull requests merged in 2021-06, with the labels that each got.

#931 TCK tests for Java SE Bootstrap API (and other post-3.0 additions)
  .travis.yml
  Jenkinsfile
  jaxrs-api/src/test/java/jakarta/ws/rs/SeBootstrapTest.java
  jaxrs-tck/pom.xml
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/sebootstrap/SeBootstrapIT.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/uribuilder/UriBuilderIT.java
  jersey-tck/README.md
  jersey-tck/pom.xml
Labels: tck

#975 Minimal multi-module pom to allow "mvn -am -pl" builds
  pom.xml
Labels: project

#972 Clarify matching rules
  jaxrs-spec/src/main/asciidoc/chapters/appendix/_changes-since-3.0-release.adoc
  jaxrs-spec/src/main/asciidoc/chapters/resources/_declaring_method_capabilities.adoc
  jaxrs-spec/src/main/asciidoc/chapters/resources/_mapping_requests_to_java_methods.adoc
Labels: clarification, spec

#973 [742] Mandate usage of JSON-B instance provided by user's ContextResolver<Jsonb>
  jaxrs-spec/src/main/asciidoc/chapters/appendix/_changes-since-3.0-release.adoc
  jaxrs-spec/src/main/asciidoc/chapters/providers/_entity_providers.adoc
Labels: enhancement, spec
