Repository jakartaee/rest, pull requests merged in 2021-11, with the labels that each got.

#1046 Set explicit versions for compiler and surefire plugins
  jaxrs-api/pom.xml
Labels: build

#1043 Reverts changes introduced by PR 972
  jaxrs-spec/src/main/asciidoc/chapters/resources/_declaring_method_capabilities.adoc
  jaxrs-spec/src/main/asciidoc/chapters/resources/_mapping_requests_to_java_methods.adoc
Labels: Component: spec

#1047 Fixed pom parent-child relationship
  examples/pom.xml
  jaxrs-api/pom.xml
  jaxrs-spec/pom.xml
  jaxrs-tck/pom.xml
  pom.xml
Labels: build

#1049 Updates in preparation for 3.1.0 release
  Jenkinsfile
  examples/pom.xml
  jaxrs-api/pom.xml
  jaxrs-spec/README.md
  jaxrs-spec/pom.xml
  jaxrs-spec/src/main/asciidoc/chapters/introduction/_status.adoc
  jaxrs-spec/src/main/asciidoc/chapters/license/_license-efsl.adoc
  jaxrs-tck/pom.xml
  jersey-tck/pom.xml
  pom.xml
Labels: spec

#1051 Moved distribution management to main pom
  examples/pom.xml
  pom.xml
Labels: build

#1050 TCK Migration : use latest jaxb api jar, remove validator api
  jaxrs-tck/pom.xml
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/api/client/clientrequestcontext/JAXRSClient.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/api/rs/core/configurable/JAXRSClient.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/api/rs/ext/interceptor/reader/interceptorcontext/JAXRSClient.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/api/rs/ext/interceptor/reader/readerinterceptorcontext/JAXRSClient.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/ee/rs/ext/interceptor/containerreader/interceptorcontext/Resource.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/spec/provider/jaxbcontext/SomeJaxbContext.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/spec/provider/jaxbcontext/SomeMarshaller.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/spec/provider/jaxbcontext/SomeUnmarshaller.java
Labels: tck

#1053 Add status code 308 Permanent Redirect
  jaxrs-api/src/main/java/jakarta/ws/rs/core/Response.java
Labels: enhancement, api

#1054 Add status code 300 Multiple Choices
  jaxrs-api/src/main/java/jakarta/ws/rs/core/Response.java
Labels: enhancement, api

#1056 Fix NPE for NewCookie#equals when simesite is null
  jaxrs-api/src/main/java/jakarta/ws/rs/core/NewCookie.java
Labels: bug, api

#1058 Update tck tests regarding new Response.Statuses
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/api/rs/core/responseclient/JAXRSClientIT.java
Labels: tck

#1061 Fix failing TCK tests
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/ee/rs/container/requestcontext/security/JAXRSClientIT.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/ee/rs/core/securitycontext/basic/JAXRSBasicClientIT.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs21/ee/sse/ssebroadcaster/JAXRSClientIT.java
  jaxrs-tck/src/main/resources/jakarta/ws/rs/tck/ee/rs/core/securitycontext/basic/jaxrs_ee_core_securitycontext_basic_web.ear.sun-application.xml
  jersey-tck/j2ee.pass
  jersey-tck/javajoe.pass
  jersey-tck/pom.xml
Labels: tck
