Repository jakartaee/rest, pull requests merged in 2022-02, with the labels that each got.

#1091 Fixed some regressions after package renaming
  jaxrs-tck/pom.xml
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs31/spec/extensions/JAXRSClientIT.java
Labels: build

#1090 Fixed #1088
  jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/common/util/JaxrsUtil.java
  jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/sebootstrap/SeBootstrapIT.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs31/spec/extensions/JAXRSClientIT.java
  jaxrs-tck/src/test/java/jakarta/ws/rs/tck/common/util/JaxrsUtilTest.java
Labels: bug, tck

#1093 TCK changes : Move new tests to renamed package, fix epl tck bundle generation
  jaxrs-tck-docs/JAXRSTCK3.1-ReleaseNotes.html
  jaxrs-tck-docs/tckbundle.sh
  jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/jaxrs31/spec/extensions/DynamicFeatureResource.java
  jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/jaxrs31/spec/extensions/JAXRSClientIT.java
  jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/jaxrs31/spec/extensions/TSAppConfig.java
  jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/jaxrs31/spec/extensions/TckDynamicFeature.java
  jaxrs-tck/src/main/java/ee/jakarta/tck/ws/rs/jaxrs31/spec/extensions/TckFeature.java
Labels: tck

#1094 [TCK] fixed wrong code location
  jaxrs-tck/src/test/java/ee/jakarta/tck/ws/rs/common/util/JaxrsUtilTest.java
Labels: bug, tck

#1096 Maven profile jaxrs.jerseytck.build
  pom.xml
Labels: project
