Repository jakartaee/rest, pull requests merged in 2022-01, with the labels that each got.

#1059 TCK Migration : Userguide & assertions
  jaxrs-tck-docs/JAXRSTCK3.1-ReleaseNotes.html
  jaxrs-tck-docs/LICENSE_EFTL.md
  jaxrs-tck-docs/TCK-Exclude-List.txt
  jaxrs-tck-docs/assertions/JAXRSJavadocAssertions_3.0.0.html
  jaxrs-tck-docs/assertions/JAXRSJavadocAssertions_3.0.0.xml
  jaxrs-tck-docs/assertions/JAXRSJavadocAssertions_3.1.0.html
  jaxrs-tck-docs/assertions/JAXRSJavadocAssertions_3.1.0.xml
  jaxrs-tck-docs/assertions/JAXRSSpecAssertions_3.0.0.html
  jaxrs-tck-docs/assertions/JAXRSSpecAssertions_3.0.0.xml
  jaxrs-tck-docs/assertions/JAXRSSpecAssertions_3.1.0.html
  jaxrs-tck-docs/assertions/JAXRSSpecAssertions_3.1.0.xml
  jaxrs-tck-docs/index.html
  jaxrs-tck-docs/userguide/README.md
  jaxrs-tck-docs/userguide/pom.xml
  jaxrs-tck-docs/userguide/src/main/jbake/assets/README.md
  jaxrs-tck-docs/userguide/src/main/jbake/assets/_config.yml
  jaxrs-tck-docs/userguide/src/main/jbake/assets/css/style.css
  jaxrs-tck-docs/userguide/src/main/jbake/assets/img/eclipse_foundation_logo_tiny.png
  jaxrs-tck-docs/userguide/src/main/jbake/content/README
  jaxrs-tck-docs/userguide/src/main/jbake/content/attributes.conf
  jaxrs-tck-docs/userguide/src/main/jbake/content/config.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/config.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/debug-tips.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/debug.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/defns.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/faq.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/install-server-vi.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/install-server.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/install.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/intro.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/intro.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/packages.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/platforms.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/preface.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/rebuild.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/rebuild.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/req-software.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/rules.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/rules.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/tck-packages.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/title.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/title.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/using-examples.inc
  jaxrs-tck-docs/userguide/src/main/jbake/content/using.adoc
  jaxrs-tck-docs/userguide/src/main/jbake/content/using.inc
  jaxrs-tck-docs/userguide/src/main/jbake/jbake.properties
  jaxrs-tck-docs/userguide/src/main/jbake/templates/footer.ftl
  jaxrs-tck-docs/userguide/src/main/jbake/templates/header.ftl
  jaxrs-tck-docs/userguide/src/main/jbake/templates/menu.ftl
  jaxrs-tck-docs/userguide/src/main/jbake/templates/page.ftl
  jaxrs-tck-docs/userguide/src/theme/jakartaee-theme.yml
Labels: tck, docs

#1044 TCK Migration: Move standalone jaxrs tck signature tests from jakartaee-tck
  jaxrs-tck/pom.xml
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/lib/util/TestUtil.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/ApiCheckDriver.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/ApiCheckRecorder.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/PackageList.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/README
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/Recorder.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/RecorderFactory.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SigTest.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SigTestData.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SigTestDriver.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SigTestEE.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SigTestRecorder.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SigTestResult.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SignatureTestDriver.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/SignatureTestDriverFactory.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/signaturetest/jaxrs/JAXRSSigTestIT.java
  jaxrs-tck/src/main/resources/jakarta/ws/rs/tck/signaturetest/jakarta.ws.rs.sig_3.1.0
  jaxrs-tck/src/main/resources/jakarta/ws/rs/tck/signaturetest/sig-test-pkg-list.txt
  jaxrs-tck/src/main/resources/jakarta/ws/rs/tck/signaturetest/sig-test.map
  jersey-tck/pom.xml
Labels: enhancement, tck

#1074 [#979] Fixed JavaDoc Warnings
  jaxrs-api/src/main/java/jakarta/ws/rs/client/ResponseProcessingException.java
  jaxrs-api/src/main/java/jakarta/ws/rs/core/Cookie.java
  jaxrs-api/src/main/java/jakarta/ws/rs/core/PathSegment.java
  jaxrs-api/src/main/java/jakarta/ws/rs/sse/SseEventSource.java
  jaxrs-api/src/main/java/module-info.java
Labels: bug, javadoc

#1077 Fixed: jersey-tck fails on JRE 17 due to Unsafe class
  jersey-tck/pom.xml
Labels: bug

#1069 Added TCK tests for Feature and DynamicFeature services
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs31/spec/extensions/DynamicFeatureResource.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs31/spec/extensions/JAXRSClientIT.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs31/spec/extensions/TSAppConfig.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs31/spec/extensions/TckDynamicFeature.java
  jaxrs-tck/src/main/java/jakarta/ws/rs/tck/jaxrs31/spec/extensions/TckFeature.java
  jersey-tck/pom.xml
Labels: enhancement, tck
